*{
    padding: 0;
    margin: 0;
}
.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* navbar */
.home{
    color:orange ;
}
.about{
    color:rgb(26, 239, 197);
} 
.facilities{
    color:#54cfff;
} 
.admission{
    color:#6565dd;
}
.logo{
    display: flex;
    justify-content: space-around;
}
.name{
    display: flex;
    flex-direction: row;
}
nav{
    margin: 20px 0;
    position: relative;
}
.head{
    padding-top: 20px;
}
.navlinks{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 40px;
    margin-right: 40px;
    padding-top: 20px;
}
.navlinks a{
    text-decoration: none;
    font-size: 20px;
}
.btn{
    background-color:orange ;
    color: white;
    padding:10px 35px;
    border: none;
    border-radius: 12px;
    font-size: 20px;
}
.menu-checkbox{
    display: none;
}
.menubar{
    display: none;
    cursor: pointer;
}
.horizontal{
    display: none;
    height: 1px;
    background-color: orange;
    margin-top: 12px;
}

/* banner */
.banner{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin: 0 auto;
}
.banner-content{
    justify-content: center;
    text-align: justify;
    margin-top: 150px; 
    margin-bottom: 70px;
    width: 570px;
}
.emp{
    color: orange;
}
.vision{
    color: rgb(76, 210, 255);
}
h1{
    padding-bottom: 30px;
    font-size: 3.5rem;
}
p{
    padding-bottom: 20px;
    font-size: 1.25rem;
}
.btn-2{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
}
.banner-img{
    padding-bottom: 20px;
    margin-left: 100px;
    width: 570px;
}

/* story */
.story{
    width: 80%;
    margin: 0 auto;
    align-items: center;
    margin-top: 80px;
    border: 1px solid black;
}
h2{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 30px;
}
.box{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.big{
    justify-content: center;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 8px;
}
.two {
    justify-content: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.card{
    justify-content: center;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 8px;
}
.str-btn{
    padding: 10px 20px;
    background-color: olivedrab;
    color: white;
    border-radius: 8px;
    border: none; 
}
@media screen and (max-width:576px){
    /* navbar */
    .head{
        display: none;
    }
    .btn{
        display: none;
    }
    .menubar{
        display: block;
        padding-top: 20px;
        position: absolute;
        right: 0;
    } 
    .navlinks{
        display:none;
    }
    .horizontal{
        display: block;
        width: 100%;    
    }

    /* banner */
    .banner{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto auto;
    }
    .banner-img{
        order: 1;
        width: 100%;
        margin-left: 0;
    }
    .banner-content{
        order: 2;
        width: 100%;
        margin-left: 0;
        text-align: center;
        align-items: center;
        margin-top: 50px;
    }

}