*{
    padding: 0;
    margin: 0;
}
.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* navbar */
.home{
    color:orange ;
}
.about{
    color:#6565dd;
} 
.facilities{
    color:#216f8e;
} 
.admission{
    color:#78ebff;
}
.logo{
    display: flex;
    justify-content: space-around;
}
.name{
    height: 80px;
    display: flex;
    flex-direction: row;
}
nav{
    margin: 20px 0;
}
.head{
    padding-top: 20px;
}
.navlinks{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 40px;
    margin-right: 40px;
    padding-top: 20px;
}
.navlinks a{
    text-decoration: none;
    font-size: 20px;
}
.btn{
    background-color:orange;
    color: white;
    padding:2px 25px;
    border: none;
    border-radius: 12px;
    font-size: 22px;
    height: 50px;
}
.menu-checkbox{
    display: none;
}
.menubar{
    display: none;
    cursor: pointer;
}
.horizontal{
    display: none;
    height: 1px;
    background-color: orange;
    margin-top: 12px;
}

/* banner */
.banner{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin: 0 auto;
}
.banner-content{
    justify-content: center;
    text-align: justify;
    margin-top: 150px; 
    margin-bottom: 70px;
    width: 570px;
}
.emp{
    color: orange;
}
.vision{
    color: rgb(76, 210, 255);
}
h1{
    padding-bottom: 15px;
    font-size: 2.8rem;
}
p{
    padding-bottom: 40px;
    font-size: 1.25rem;
}
.btn-2{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    margin-bottom: 40px;
}
.banner-img{
    padding-bottom: 20px;
    margin-left: 100px;
    width: 570px;
}

/*standard*/
.standard{
    background: url(assets/bg.png);
    width: 100%;
    margin-top: 10px;
}
.part{
    width:80%;
    align-items: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:24px;
    padding-top: 30px;
}
.part-1{
    padding-top: 20px;
    width:364px;
    height:410px;
    text-align: center;
    border-radius: 16px;
    background:  linear-gradient(360deg, #cff1ff 0%, rgba(251, 250, 252, 0.3) 100%);
}
.part-2{
    padding-top: 20px;
    width:364px;
    height:410px;
    text-align: center;
    border-radius: 16px;
    background:  linear-gradient(360deg, rgb(207, 238, 196) 0%, rgba(251, 250, 252, 0.3) 100%);
}
.part-3{
    padding-top: 20px;
    width:364px;
    height:410px;
    text-align: center;
    border-radius: 16px;
    background:  linear-gradient(360deg, rgb(165, 231, 255) 0%, rgba(251, 250, 252, 0.3)  100%);
}
a{
    text-decoration: none;
}
.layer{
    padding-top: 50px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.li-btn{
    padding: 10px 20px;
    background-color: olivedrab;
    color: white;
    font-weight: bolder;
    font-size: 40px;
    border-radius: 50px;
    border: none; 
}

/* story */
.story{
    width: 100%;
    margin-top: 40px;
    background: url(assets/bg.png), linear-gradient(360deg, rgba(254, 163, 1, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
}
h2{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 30px;
    padding-top: 20px;
}
.box{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
.big{
    position: relative;
    height:580px;
    width: 540px;
    overflow: hidden;
    justify-content: center;
    background-color: white;
    margin: 0 auto;
    border-radius: 24px;
}
.big img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.two {
    height:580px;
    width: 620px;
    justify-content: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 18px;
    min-height: 100%;
}
.card{
    position: relative;
    height:280px;
    width:100%;
    max-width: 300px;
    justify-content: center;
    margin: 0 auto;
    border-radius: 24px;
    padding: 0;
    background-color: white;
    overflow: hidden; 
    min-height: 100%;
}
.card img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.des{
    height: 50%;
    align-items: center;
    margin: 0 auto;
    margin-left: 20px;
}
.des h3{
    font-size: 1.5rem;
    text-align: justify;
}
h3,h4{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 1.2rem;
}
.des h5{
    padding-top: 30px;
    font-size: 0.9rem;
}
p{
    padding-top: 4px;
    font-size: 0.9rem;
}
.str-btn{
    padding: 10px 20px;
    background-color: olivedrab;
    color: white;
    border-radius: 40px;
    border: none; 
    position: absolute;
    top:60%;
    left:20%;
    z-index: 1;
    transform: translate(-50%,-50%);
}
.card button{
    padding: 10px 20px;
    background-color: olivedrab;
    color: white;
    border-radius: 40px;
    border: none; 
    position: absolute;
    top:60%;
    left:35%;
    z-index: 1;
    transform: translate(-50%,-50%);
}
.layer-2{
    padding-top: 50px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 8px;
}

/*footer*/
.last{
    background-color: teal;
    color:white;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding-top: 150px;
}
.footer-logo{
    height: 130px;
    display: flex;
    justify-content: flex-start;
}
.last-1,.last-2,.last-3{
    width:364px;
    height:410px;
}
.navlinks-2{
    flex-direction: column;
    list-style: none;
}
.navlinks-2 a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}


@media screen and (max-width:650px){
    /* navbar */
    *{
        overflow-wrap: break-word;
        max-width: 100%;
    }
    .head{
        display: none;
    }
    .name{
        margin-right: auto;
    }
    .btn{
        display: none;
    }
    .menubar{
        display: block;
        padding-top: 20px;
        position: absolute;
        right: 0;
    } 
    nav{
        justify-content: flex-start;
    }
    .navlinks{
        display:none;
    }
    .horizontal{
        display: block;
        width: 100%;    
    }

    /* banner */
    .banner{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto auto;
    }
    .banner-img{
        order: 1;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .banner-content{
        order: 2;
        width: 100%;
        margin-left: 0;
        margin-right: auto;
        text-align: center;
        align-items: center;
        margin-top: 50px;
    }

    /*standard*/
    .part{
        grid-template-columns: repeat(1,1fr);
    }
   .part-1,.part-2,.part-3{
        height: 390px;
        align-items: center;
        margin: 0 auto;
    }
    .layer{
        display: none;
    }

    /*story*/
     .big{
        display: none;
     }
     .two{
        max-width: 100%;
        overflow: hidden;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        margin: 0 auto;
     }
     .card{
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
     }
     .card button {
       left: 50%;
       padding: 10px 5px;
    }

    /*footer*/
    .last{
        flex-direction: column;
        margin-bottom: 3px;
        padding: 3px 0;
        gap: 5px;
    }
    .last-1,.last-2,.last-3{
        margin-left: 0;
        width: 100%;
        height: auto;
    }
}




